::selection {
  color: #f8b076;
  background: #22555d;
}

::-webkit-scrollbar {
  width: 7px;

}

::-webkit-scrollbar:hover {
  opacity: 1;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(171, 149, 119);
  border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 122, 96);
}

html, body {
  overscroll-behavior: none;
}

.scroll-trans {
  &::-webkit-scrollbar{
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}



.bg-pattern {

  background-size: 200px;

  &.wave{
    background-image: url("../img/patterns/wave.jpg");
  }
  &.square{
    background-image: url("../img/patterns/sq.jpg");
  }
  &.circle{
    background-image: url("../img/patterns/circle.jpg");
  }
}

.skill-img {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  &.laravel{
    background-image: url("../img/logo/laravel.svg");
  }
  &.php{
    background-image: url("../img/logo/php.svg");
  }
  &.rest{
    background-image: url("../img/logo/rest.svg");
  }
  &.bootstrap{
    background-image: url("../img/logo/bs.svg");
  }
  &.tailwind{
    background-image: url("../img/logo/tw.svg");
  }
  &.javascript{
    background-image: url("../img/logo/js.svg");
  }
  &.jquery{
    background-image: url("../img/logo/jq.svg");
  }
  &.sass{
    background-image: url("../img/logo/sass.svg");
  }
  &.webpack{
    background-image: url("../img/logo/wp.svg");
  }
  &.alpine{
    background-image: url("../img/logo/alpinejs-2.svg");
  }
  &.git{
    background-image: url("../img/logo/git.svg");
  }
  &.github{
    background-image: url("../img/logo/gh.svg");
  }

}