<!doctype html>
<html lang="en" xmlns:x-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--    <script src="https://cdn.tailwindcss.com"></script>-->

    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body class="font-serif bg-gunmetal-500 text-amber-50 index">



<section class="container mx-auto mt-20 py-10 px-10 sec-skill relative w-full">
    <div class="text-center mb-20">
        <h2 class="text-6xl text-white text-center h-star">Websites</h2>
    </div>
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="my-6 flex flex-col justify-center">
            <ul class="mt-2">

                <li><a class="mt-2" target="_blank" href="https://ami-hp.github.io/ati.elevator/">2020 ATI Elevator*</a></li>
                <li><a class="mt-2" target="_blank" href="https://ami-hp.github.io/damos/">2020 Damos</a></li>
                <li><a class="mt-2" target="_blank" href="https://ami-hp.github.io/noya-games/">2020 Noya Games</a></li>
                <li><a class="mt-2" target="_blank" href="https://ami-hp.github.io/gooshiland/">2021 Gooshiland</a></li>
                <li><a class="mt-2" target="_blank" href="https://ami-hp.github.io/dr.h/">2021 Dr. H</a></li>
                <li><a class="mt-2" target="_blank" href="https://ami-hp.github.io/shana.studio/">2021 Shana Studio</a></li>
                <li><a class="mt-2" target="_blank" href="https://amaj.in/">2021 Amaj</a></li>
            </ul>
            <ul class="mt-2">
                <li><a class="mt-2" target="_blank" href="https://applecenter.ir/">2020 Apple Center</a></li>
            </ul>
            <ul class="mt-2">
                <li><a class="mt-2" target="_blank" href="https://ami-hp.github.io/adminpanel-plainadmin/">2023 Plain Admin RTL</a></li>
            </ul>

        </div>
    </div>

</section>
<section class="container mx-auto mt-20 py-10 px-10 sec-skill relative w-full">
    <div class="text-center mb-20">
        <h2 class="text-6xl text-white text-center h-star">Packages</h2>
    </div>
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <ul class="mt-2">
            <li><a class="mt-2" target="_blank" href="https://github.com/ami-hp/laravel-eye">2023 Laravel-Eye</a></li>
        </ul>
    </div>
</section>

</body>

</html>