
.index {
  .sec-head {
    .bg-image {
      background-position: center center;
      background-size: cover;
      background-image: url("../img/cieling.png");
    }
  }

  .sec-about {
    .avatar{
      background-position: center center;
      background-size: cover;
      background-image: url("../img/avatar-statue.png");
      transition: all 0.5s ease;

      &:before{
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        top: -50px;
        left: -50px;
        border: 1px solid white;
      }
      &:after{
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: -50px;
        right: -50px;
        border: 1px solid white;
      }

      &:hover {
        background-image: url("../img/avatar-1.png");
      }
      &:active {
        background-image: url("../img/avatar-2.png");
      }

    }
  }

  .sec-exp {
    .image-damos {
      background-position: center center;
      background-size: cover;
      background-image: url("../img/logo-ekar-damos.png");
    }
    .image-chap {
      background-position: center center;
      background-size: cover;
      background-image: url("../img/logo-chap.png");
    }
    .image-eyc {
      background-position: center center;
      background-size: cover;
      background-image: url("../img/logo-eyc.png");
    }
  }

  .sec-skill {
    .skill-img {
      width: 50px;

      @media #{$md} {
        width: 100px;
      }
    }
  }
}