::selection {
  color: #f8b076;
  background: #22555d;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:hover {
  opacity: 1;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(171, 149, 119);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 122, 96);
}

.scroll-trans::-webkit-scrollbar {
  width: 1px;
}
.scroll-trans::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-trans::-webkit-scrollbar-thumb {
  background: transparent;
}
.scroll-trans::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.bg-pattern {
  background-size: 200px;
}
.bg-pattern.wave {
  background-image: url("../img/patterns/wave.jpg");
}
.bg-pattern.square {
  background-image: url("../img/patterns/sq.jpg");
}
.bg-pattern.circle {
  background-image: url("../img/patterns/circle.jpg");
}

.skill-img {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.skill-img.laravel {
  background-image: url("../img/logo/laravel.svg");
}
.skill-img.php {
  background-image: url("../img/logo/php.svg");
}
.skill-img.rest {
  background-image: url("../img/logo/rest.svg");
}
.skill-img.bootstrap {
  background-image: url("../img/logo/bs.svg");
}
.skill-img.tailwind {
  background-image: url("../img/logo/tw.svg");
}
.skill-img.javascript {
  background-image: url("../img/logo/js.svg");
}
.skill-img.jquery {
  background-image: url("../img/logo/jq.svg");
}
.skill-img.sass {
  background-image: url("../img/logo/sass.svg");
}
.skill-img.webpack {
  background-image: url("../img/logo/wp.svg");
}
.skill-img.alpine {
  background-image: url("../img/logo/alpinejs-2.svg");
}
.skill-img.git {
  background-image: url("../img/logo/git.svg");
}
.skill-img.github {
  background-image: url("../img/logo/gh.svg");
}

.h-star {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.h-star:before {
  display: inline-block;
  content: "";
  background-image: url("../img/StarSilhouette.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: -1;
  left: -41px;
  top: -38px;
}
.h-star:after {
  display: inline-block;
  content: "";
  width: 100px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  border: 1px solid wheat;
  transform: skew(-45deg);
}

.index .sec-head .bg-image {
  background-position: center center;
  background-size: cover;
  background-image: url("../img/cieling.png");
}
.index .sec-about .avatar {
  background-position: center center;
  background-size: cover;
  background-image: url("../img/avatar-statue.png");
  transition: all 0.5s ease;
}
.index .sec-about .avatar:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
  border: 1px solid white;
}
.index .sec-about .avatar:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -50px;
  right: -50px;
  border: 1px solid white;
}
.index .sec-about .avatar:hover {
  background-image: url("../img/avatar-1.png");
}
.index .sec-exp .image-damos {
  background-position: center center;
  background-size: cover;
  background-image: url("../img/logo-ekar-damos.png");
}
.index .sec-exp .image-chap {
  background-position: center center;
  background-size: cover;
  background-image: url("../img/logo-chap.png");
}
.index .sec-exp .image-eyc {
  background-position: center center;
  background-size: cover;
  background-image: url("../img/logo-eyc.png");
}
.websites .work-img {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.websites .work-img.plainAdmin {
  background-image: url("../img/snaps/plainadmin-rtl.png");
}
.websites .work-img.amaj {
  background-image: url("../img/snaps/amaj.png");
}
.websites .work-img.appleCenter {
  background-image: url("../img/snaps/applecenter.png");
}
.websites .work-img.shana {
  background-image: url("../img/snaps/shana.png");
}
.websites .work-img.drh {
  background-image: url("../img/snaps/drh.png");
}
.websites .work-img.gooshiland {
  background-image: url("../img/snaps/gooshiland.png");
}
.websites .work-img.noya {
  background-image: url("../img/snaps/noya.png");
}
.websites .work-img.damos {
  background-image: url("../img/snaps/damos.png");
}
.websites .work-img.ati {
  background-image: url("../img/snaps/ati.png");
}
.websites .work-img.eye {
  background-image: url("../img/snaps/laravel-eye-banner.png");
}

/*# sourceMappingURL=main.css.map */
